$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
body{
  font-family: "Roboto";
  margin:0px;
}

a{
  text-decoration:none;
}

header {
  display: flex;
  justify-content: center;
  
  h1 {
    font-size: 2rem;
    text-align: center;
    font-family: "Shrikhand", sans-serif;
    border-bottom: 1px solid white;
    color: black;
  }
}

.adress {
  justify-content: center;
  text-align:center;
  background-color: rgb(243, 243, 243);
  box-shadow: inset 0 5px 6px -4px lightgrey;
  padding:16px;
  
  &__icon {
    margin-right: 1rem;
  }
  
  &__text {
    font-weight: 700;
  }
}

.hero{
  display:flex;  
  flex-direction:column;
  text-align: center; 
  background-color: rgb(250, 250, 250);
  padding:20px;
  
  &__title {
    margin:0px;
    margin-top:20px;
  }
  
  &__subtitle {
    font-weight:100;
    margin:auto;
    margin-top:40px;
    text-align: center;
    width:300px;
  }

  &__btn {
    cursor: pointer;
    margin:auto;
    margin-top:40px;
    margin-bottom: 40px;
    box-shadow: 0px 5px 5px lightgray;
    padding:15px;
    border-radius: 30px;
    background: linear-gradient(173deg, rgba(255, 121, 218, 1) 0%, rgba(214, 108, 219, 1) 39%, rgba(171, 94, 220, 1) 85%, rgba(155, 89, 220, 1) 100%);
  }

  & a {
    color:white;
    padding:15px 30px;
    text-decoration: none;
  }
}
.container{
  margin-left: 3%;
  margin-right: 3%;
  
  &__chose{
    display: flex;
    margin: auto;
    margin-top: 30px;
    width: 450px;
    padding: 12px;
    border-radius: 24px;
    background: #f9f9f9;
    box-shadow: 0px 3px 10px lightgrey;
  }
  &__number{
    color: white;
    background: $primary-color;
    border-radius: 60px;
    padding: 0.25em 0.50em;
    height: 18px;
    margin-top: 15px;
    margin-left: -30px;
  }
  &__icon{
    display: flex;
    margin: auto;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 500;
  }
  &__text{
    margin-left: 30px;
  }
}
.restaurants {
  margin-top: 80px;
  margin-bottom:80px;
}
.box{
  background: #f9f9f9;
  padding-bottom: 100px;
  padding-top:50px;
  
  h2{
    margin-left: 3%;
    margin-right: 3%;
  }
}
.wrapper{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  column-gap:20px;
  row-gap: 20px;
  
  & img {
    width: 530px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
}

.figcaption__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 4px lightgrey;
  border-radius: 0 0 15px 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  i {
      margin-right: 20px;
      font-size: 1.7rem;
      color: black;
  }
}

.figcaption__title {
  line-height: 4px;
  margin-left: 10px;
}

.menu__name {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.menu__city{
  font-weight: 100;
  font-size: 18px;
  color: black;
}
.new{
  background-color: $tertiary-color;
  color: darken($tertiary-color, 50%);
  width: 65px;
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
}

.footer {
  background-color: #353535;
  color: white;

  &__title{
    color: white;
    font-family: "Shrikhand", "cursive";
    margin: 3%;
  }

  &__text{
    padding:0px;
    margin:3%;
  }

  &__list {
    list-style: none;
    margin:10px 0;
  }

  &__link{
    color: #fff;
    text-decoration: none;
  }
  &__icon{
    width: 30px;
  }
}