header {
    display: flex;
    justify-content: center;
    
    h1 {
      font-size: 2rem;
      text-align: center;
      font-family: "Shrikhand", sans-serif;
      border-bottom: 1px solid white;
      color: black;
      display:block;
    }
  }