.progress-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: loading .05s;
          animation: loading .05s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 10000;
}

@-webkit-keyframes loading {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loading {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

.progress {
  border: 2px solid black;
  border-radius: 5px;
  width: 50%;
  height: 25px;
  padding: 0px;
}

.progress__bar {
  background-color: #9356dc;
  height: 25px;
  width: 100%;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: progress-bar 3000ms;
          animation: progress-bar 3000ms;
}

@-webkit-keyframes progress-bar {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes progress-bar {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.load {
  -webkit-perspective: 700px;
          perspective: 700px;
  text-align: center;
}

.load > span {
  font-size: 30px;
  font-family: "Shrikhand",sans-serif;
  display: inline-block;
  -webkit-animation: flip 3s linear;
          animation: flip 3s linear;
  -webkit-transform-origin: 0 70%;
          transform-origin: 0 70%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

@-webkit-keyframes flip {
  35% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotatex(360deg);
            transform: rotatex(360deg);
  }
}

@keyframes flip {
  35% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotatex(360deg);
            transform: rotatex(360deg);
  }
}

.load > span:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.load > span:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.load > span:nth-child(4) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.load > span:nth-child(5) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.load > span:nth-child(6) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.load > span:nth-child(7) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.load > span:nth-child(8) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.load > span:nth-child(9) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  font-size: 2rem;
  text-align: center;
  font-family: "Shrikhand", sans-serif;
  border-bottom: 1px solid white;
  color: black;
  display: block;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 30px 0px;
}

.footer__title {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 3%;
}

.footer__text {
  padding: 0px;
  margin: 3%;
}

.footer__list {
  list-style: none;
  margin: 10px 0;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

.footer__icon {
  width: 30px;
}

.btn_cta {
  cursor: pointer;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 5px 5px lightgray;
          box-shadow: 0px 5px 5px lightgray;
  color: white;
  padding: 15px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 30px;
  background: linear-gradient(173deg, #ff79da 0%, #d66cdb 39%, #ab5edc 85%, #9b59dc 100%);
}

.btn_cta:hover {
  background-color: white;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.menu__like {
  cursor: pointer;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

body {
  font-family: "Roboto";
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: auto;
}

.adress {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #f3f3f3;
  -webkit-box-shadow: inset 0 5px 6px -4px lightgrey;
          box-shadow: inset 0 5px 6px -4px lightgrey;
  padding: 16px;
}

.adress__icon {
  margin-right: 1rem;
}

.adress__text {
  font-weight: 700;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
}

.hero__title {
  margin: 0px;
  margin-top: 20px;
}

.hero__subtitle {
  font-weight: 100;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  width: 300px;
}

.hero a {
  color: white;
  padding: 15px 30px;
  text-decoration: none;
}

.instructions__title {
  margin-left: 3%;
  margin-right: 3%;
}

.instructions__chose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 30px;
  width: 450px;
  padding: 12px;
  border-radius: 24px;
  background: #f9f9f9;
  -webkit-box-shadow: 0px 3px 10px lightgrey;
          box-shadow: 0px 3px 10px lightgrey;
  color: black;
}

.instructions__chose:hover {
  background-color: #f6edff;
}

.instructions__chose:hover .instructions__fas {
  color: #9356DC;
}

.instructions__number {
  color: white;
  background: #9356DC;
  border-radius: 60px;
  padding: 0.25em 0.50em;
  height: 18px;
  margin-top: 15px;
  margin-left: -25px;
}

.instructions__text {
  margin-left: 30px;
}

.instructions__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-left: 20px;
  font-size: 17px;
  font-weight: 500;
}

.instructions__fas {
  color: grey;
}

.restaurants {
  margin-top: 80px;
}

.restaurants__box {
  background: #f9f9f9;
  padding-bottom: 100px;
  padding-top: 50px;
}

.restaurants__title {
  margin-left: 3%;
  margin-right: 3%;
}

.restaurants__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
}

.restaurants__card img {
  width: 530px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurants__new {
  position: relative;
}

.restaurants__badge {
  background-color: #99E2D0;
  color: #1b6150;
  width: 65px;
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 4px lightgrey;
          box-shadow: 0px 3px 4px lightgrey;
  border-radius: 0 0 15px 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.menu__like {
  margin-right: 20px;
  font-size: 1.7rem;
}

.menu__title {
  line-height: 4px;
  margin-left: 10px;
}

.menu__name {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.menu__city {
  font-weight: 100;
  font-size: 18px;
  color: black;
}
/*# sourceMappingURL=homepage.css.map */