header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  font-size: 2rem;
  text-align: center;
  font-family: "Shrikhand", sans-serif;
  border-bottom: 1px solid white;
  color: black;
  display: block;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 30px 0px;
}

.footer__title {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 3%;
}

.footer__text {
  padding: 0px;
  margin: 3%;
}

.footer__list {
  list-style: none;
  margin: 10px 0;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

.footer__icon {
  width: 30px;
}

.btn_cta {
  cursor: pointer;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 5px 5px lightgray;
          box-shadow: 0px 5px 5px lightgray;
  color: white;
  padding: 15px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 30px;
  background: linear-gradient(173deg, #ff79da 0%, #d66cdb 39%, #ab5edc 85%, #9b59dc 100%);
}

.btn_cta:hover {
  background-color: white;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.menu__like {
  cursor: pointer;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.menu__like:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  font-family: "Roboto";
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: auto;
}

.header__arrow {
  font-size: 1.7rem;
  color: black;
  left: 20px;
  top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroImg {
  max-width: 100%;
  max-height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin-top: -30px;
  border-radius: 30px 30px 0 0;
  background-color: #f9f9f9;
  z-index: 1;
  position: relative;
}

.menu__header {
  padding: 30px 50px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__title {
  font-family: Shrikhand,"cursive";
}

.menu__like {
  font-size: 30px;
}

.submenu {
  padding: 20px;
}

.submenu__title {
  padding-bottom: 3px;
  font-weight: 100;
  background: #f9f9f9;
  text-transform: uppercase;
}

.submenu__title:after {
  content: '';
  display: block;
  position: relative;
  width: 45px;
  border: 2px solid #99E2D0;
  margin-top: 8px;
}

.submenu__plat {
  background-color: white;
  padding: 20px 0px 20px 10px;
  border-radius: 20px;
  margin: 15px 0;
  -webkit-box-shadow: 4px lightgrey;
          box-shadow: 4px lightgrey;
  max-width: 100%;
  cursor: pointer;
}

.submenu__name {
  margin: 0px 0px 5px 0px;
  font-weight: 700;
  font-size: large;
}

.submenu__description {
  margin: 0px;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 900px;
}

.submenu__price {
  margin: 0px;
  font-weight: 900;
  margin-right: 20px;
  -webkit-animation: boxReverse 400ms linear both;
          animation: boxReverse 400ms linear both;
}

.submenu__confirmation {
  position: relative;
  background-color: #99E2D0;
  width: 130px;
  margin: -46px -10px -20px 0px;
  border-radius: 0 20px 20px 0px;
  -webkit-animation: boxReverse 400ms linear both;
          animation: boxReverse 400ms linear both;
}

.submenu__wrapIcon {
  width: 30px;
  height: 30px;
  background: white;
  margin-left: 25px;
  border-radius: 100px;
  margin-top: 30px;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.submenu__icon {
  color: #99e2d0;
  margin-left: 7px;
  margin-top: 7px;
}

.description_prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.buttonSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
}

@-webkit-keyframes boxReverse {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(85px);
            transform: translateX(85px);
  }
}

@keyframes boxReverse {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(85px);
            transform: translateX(85px);
  }
}

.submenu__plat:hover {
  display: block;
  overflow: hidden;
}

.submenu__plat:hover .submenu__confirmation {
  display: inline-block;
  -webkit-animation: box 400ms linear;
          animation: box 400ms linear;
}

.submenu__plat:hover .submenu__confirmation .submenu__wrapIcon {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.submenu__plat:not(:hover) {
  overflow: hidden;
}

.submenu__plat:hover .submenu__price {
  -webkit-animation: box 400ms linear;
          animation: box 400ms linear;
}

@-webkit-keyframes delay {
  0% {
    opacity: 0;
    margin-top: 5px;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delay {
  0% {
    opacity: 0;
    margin-top: 5px;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.delay-1 {
  -webkit-animation: delay 1.2s;
          animation: delay 1.2s;
}

.delay-2 {
  -webkit-animation: delay 1.6s;
          animation: delay 1.6s;
}

.delay-3 {
  -webkit-animation: delay 2.0s;
          animation: delay 2.0s;
}

.delay-4 {
  -webkit-animation: delay 2.4s;
          animation: delay 2.4s;
}

.delay-5 {
  -webkit-animation: delay 2.8s;
          animation: delay 2.8s;
}

.delay-6 {
  -webkit-animation: delay 3.2s;
          animation: delay 3.2s;
}

.delay-7 {
  -webkit-animation: delay 3.6s;
          animation: delay 3.6s;
}

.delay-8 {
  -webkit-animation: delay 4.0s;
          animation: delay 4.0s;
}

.delay-9 {
  -webkit-animation: delay 4.4s;
          animation: delay 4.4s;
}
/*# sourceMappingURL=menupages.css.map */