$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gradient-color: linear-gradient(173deg, rgba(255, 121, 218, 1) 0%, rgba(214, 108, 219, 1) 39%, rgba(171, 94, 220, 1) 85%, rgba(155, 89, 220, 1) 100%);